DATABASE_URL=postgres://postgres:password@localhost:5432/binbot
REDIS_URL=redis://127.0.0.1:6379
BINANCE_WEBSOCKET_RAW_ENDPOINT=wss://stream.binance.com:9443/ws
BINANCE_WEBSOCKET_STREAM_ENDPOINT=wss://stream.binance.com:9443/stream
DISCORD_TOKEN=your_discord_token
DISCORD_BOT_URL=https://discord.com/oauth2/authorize?client_id=your_client_id&permissions=18432&integration_type=0&scope=bot+applications.commands
# Optional: if you want instant slash command testing in your private server without waiting for global sync:
# DISCORD_GUILD_ID=your_discord_server_id